.header__logo {
  display: flex;
  box-sizing: border-box;
  max-width: 142px;
  padding-bottom: 41px;
  object-fit: contain;
}

@media screen and (max-width: 650px) {
  .header__logo {
    max-width: 103px;
    box-sizing: content-box;
    padding: 0 0 32px 27px;
  }
}
