.header {
  margin: 0 auto;
  padding: 45px 0 0 0;
  box-sizing: border-box;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 650px) {
  .header {
    max-width: 320px;
    padding: 28px 0 0 0;
  }
}
